<!DOCTYPE html>
<html ng-app>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/styles/bootstrap.css" />
		<link rel="stylesheet" href="/styles/styles.css" />
	</head>
	<body>
		<section ng-controller="ErrorController">
			<h1>Not found !!!</h1>
		</section>
		<script src="/javascripts/angular.js"></script>
		<script src="/javascripts/ContatosController.js"></script>
	</body>
</html>